doctype html
html(class="no-js", lang="en")

  head
    title Village Gate
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/main.css")
    
  body
  
    header
      nav
        ul
          li
            a(href="") Shops
          li
            a(href="") Food
          li
            a(href="") Events
          li
            a(href="") About
            
      h1 The Village Gate
      input(type="search")
      
    main
      section
        ul
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          li.business
            a(href="")
              img(src="", alt="")
            p description here
          
      section.parallax
        img(src="", alt="")
    
    footer
      
    script(src="js/app.js")
