
hr
p &copy; 2016 Village Gate Square  |  Rochester, NY
nav.foot-nav
  ul
    li: a(href="coming-soon.html") About
    li: a(href="coming-soon.html") Shops
    li: a(href="coming-soon.html") Food
    li: a(href="coming-soon.html") Events
    li: a(href="coming-soon.html") Art
    li: a(href="coming-soon.html") New!
    li: a(href="coming-soon.html") Hours
