
hr
p &copy; 2016 Village Gate Square  |  Rochester, NY
nav.foot-nav
  ul
    li: a(href="#") About
    li: a(href="#") Shops
    li: a(href="#") Food
    li: a(href="#") Events
    li: a(href="#") Art
    li: a(href="#") New!
    li: a(href="#") Hours
