
hr
p The most ignored text
nav.foot-nav
  ul
    li: a(href="#") About
    li: a(href="#") Shops
    li: a(href="#") Food
    li: a(href="#") Events
    li: a(href="#") Art
    li: a(href="#") New!
    li: a(href="#") Hours
