
mixin nav-content()
  ul
    li: a(href="#") About
    li: a(href="#") Shops
    li: a(href="#") Food
    li: a(href="#") Events
    li: a(href="#") Art
    li: a(href="#") New!
    li: a(href="#") Hours


h1 Village Gate Square 

.mobile-nav-toggle
  span
  
//nav.mobile-nav
  //+nav-content()

nav.wide-nav
  +nav-content()



// mobile nav to-do's
// on nav-toggle click
// -add mobile-nav to DOM 
// -will be fixed just below header 
//  and transition left onto page with right: #px
// -when mobile-nav is on page, keep
