
mixin nav-content()
  ul
    li: a(href="#") About
    li: a(href="#") Shops
    li: a(href="#") Food
    li: a(href="#") Events
    li: a(href="#") Art
    li: a(href="#") New!
    li: a(href="#") Hours


h1 The Village Gate 

.mobile-nav-toggle
  span
  
nav.mobile-nav
  //+nav-content()

nav.wide-nav
  +nav-content()
