
mixin nav-content()
  ul
    li: a(class="nav-link", href="coming-soon.html") About
    li: a(class="nav-link", href="coming-soon.html") Shops
    li: a(class="nav-link", href="coming-soon.html") Food
    li: a(class="nav-link", href="coming-soon.html") Events
    li: a(class="nav-link", href="coming-soon.html") Art
    li: a(class="nav-link", href="coming-soon.html") New!
    li: a(class="nav-link", href="coming-soon.html") Hours


h1.nav-logo Village Gate Square

.mobile-nav-toggle
  span
  
nav.mobile-nav
  +nav-content()

nav.wide-nav
  +nav-content()
