
mixin nav-content()
  ul
    li: a(href="#") About
    li: a(href="#") Shops
    li: a(href="#") Food
    li: a(href="#") Events
    li: a(href="#") Art
    li: a(href="#") New!
    li: a(href="#") Hours
    li: a(href="#") Contact


h1 The Village Gate 

.mobile-nav-toggle
  span

nav.site-nav
  +nav-content()
