
mixin nav-content()
  ul
    li: a(class="nav-link", href="#") About
    li: a(class="nav-link", href="#") Shops
    li: a(class="nav-link", href="#") Food
    li: a(class="nav-link", href="#") Events
    li: a(class="nav-link", href="#") Art
    li: a(class="nav-link", href="#") New!
    li: a(class="nav-link", href="#") Hours


h1.nav-logo Village Gate Square

.mobile-nav-toggle
  span
  
//nav.mobile-nav
  //+nav-content()

nav.wide-nav
  +nav-content()



// mobile nav to-do's
// on nav-toggle click
// -add mobile-nav to DOM 
// -will be fixed just below header 
//  and transition left onto page with right: #px
// -when mobile-nav is on page, keep
