
section.top-img

.logo
  .top-line Village Gate
  .bottom-line Square
  
section.new
  h2.new-heading New at the Village Gate...
  hr
  ul.new-biz
    li.biz
      a(href="http://www.noxcocktail.com/"): img(src="/../img/nox.jpg", alt="")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis, quibusdam vel velit eveniet! Fugit tempore alias sequi quasi ratione omnis, minima sed labore sunt iste quam, soluta, repellendus doloremque. here
    li.biz
      a(href="http://www.getcakedroc.com/"): img(src="/../img/getCaked.jpg", alt="")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure esse possimus, facere ad ullam itaque numquam eveniet ab sit neque veritatis magnam, impedit voluptatibus. Nulla beatae, atque ratione tenetur? here
    li.biz
      a(href="http://www.lentorestaurant.com/"): img(src="/../img/lento.jpg", alt="")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil esse aut itaque voluptates dolorem, corporis provident optio est architecto, voluptate impedit molestias hic, velit praesentium neque ipsa quae iure atque. here
    li.biz
      a(href="http://www.lentorestaurant.com/"): img(src="/../img/lento.jpg", alt="")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil esse aut itaque voluptates dolorem, corporis provident optio est architecto, voluptate impedit molestias hic, velit praesentium neque ipsa quae iure atque. here
    
      
section.quote
  .quote-img
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consequuntur, suscipit repellat.
  
section.info
  iframe(class="map", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2910.421680832917!2d-77.5855706033449!3d43.158672029526485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b5a27107d839%3A0x92ee09a152bbad63!2sVillage+Gate+Square!5e0!3m2!1sen!2sus!4v1455553757209", frameborder="0", allowfullscreen)
  
  .hours-social
    ul.hours
      li: p Lorem ipsum.
      li: p Lorem ipsum.
      li: p Lorem ipsum.
    ul.social
      li: a(href="")
      li: a(href="")
