
section.top-img
  .logo
    .top-line Village Gate
    .bottom-line Square
  
section.new
  h2.new-heading New at the Village Gate...
  hr
  ul.new-biz
    li.biz
      a(href="http://www.noxcocktail.com/" target="_blank")
        .biz-img: img(src="./img/nox.jpg", alt="Logo for Nox Cocktail Bar")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis, quibusdam vel velit eveniet! Fugit tempore alias sequi quasi ratione omnis, minima sed labore sunt iste quam, soluta, repellendus doloremque. here
    li.biz
      a(href="http://www.getcakedroc.com/" target="_blank")
        .biz-img: img(src="./img/getCaked.jpg", alt="Logo for Get Caked Bakery")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure esse possimus, facere ad ullam itaque numquam eveniet ab sit neque veritatis magnam, impedit voluptatibus. Nulla beatae, atque ratione tenetur? here
    li.biz
      a(href="http://www.lentorestaurant.com/" target="_blank")
        .biz-img: img(src="./img/lento.jpg", alt="Logo for Lento Restaurant")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil esse aut itaque voluptates dolorem, corporis provident optio est architecto, voluptate impedit molestias hic, velit praesentium neque ipsa quae iure atque. here
    li.biz
      a(href="http://www.rochesterbrainery.com/" target="_blank")
        .biz-img: img(class="brainery", src="./img/brainery.jpg", alt="Logo for the Rochester Brainery")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil esse aut itaque voluptates dolorem, corporis provident optio est architecto, voluptate impedit molestias hic, velit praesentium neque ipsa quae iure atque. here
    
    
section.quote
  .quote-img
    p "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consequuntur, suscipit repellat."
  
section.info
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4115.977635669279!2d-77.58285496084042!3d43.15837776177959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b5a27107d839%3A0x92ee09a152bbad63!2sVillage+Gate+Square!5e0!3m2!1sen!2sus!4v1457486897324", frameborder="0", style="border:0; pointer-events:none;")
  
  .hours-social
    .hours
      h3 Address:
      p
        | 274 Goodman St N
        | Rochester, NY 14607
      
      h3 Hours:
      p
        | Sun:           12:00 - 5:00
        | Tue - Sat:   11:00 - 8:00
      
    ul.social
      li
        a(href="https://www.facebook.com/pages/Village-Gate/148161025212327?fref=ts" target="_blank")
          span(class="fa-stack fa-lg")
            i(class="fa fa-circle fa-stack-2x")
            i(class="fa fa-facebook fa-stack-1x fa-inverse")
      li
        a(href="https://www.instagram.com/explore/locations/1393824/" target="_blank")
          span(class="fa-stack fa-lg")
            i(class="fa fa-circle fa-stack-2x")
            i(class="fa fa-instagram fa-stack-1x fa-inverse")
