
section.top-img
  .logo
    .top-line Village Gate
    .bottom-line Square
    
section.about
  article
    h1 A Hub for Culture
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam adipisci, veritatis eligendi beatae eveniet perspiciatis eum qui nihil minima perferendis inventore modi velit praesentium dolorem? Temporibus velit vero facilis similique in sapiente cum minima quaerat!
  
section.new
  a(name="new")
  h2.new-heading New at the Village Gate
  hr
  ul.new-biz
    li.biz
      a(href="http://www.noxcocktail.com/" target="_blank")
        .biz-img: img(src="./img/nox.jpg", alt="Logo for Nox Cocktail Bar")
      p Interested in trying out a new pub experience? Stop by Nox and have a Hobbit on Holiday craft cocktail or some It’s a Trap! fries. With an atmosphere steeped in geek culture and weekly events like game nights and trivia, Nox is the perfect place for you and your fellow nerds to have a good time.
    li.biz
      a(href="http://www.getcakedroc.com/" target="_blank")
        .biz-img: img(src="./img/getCaked.jpg", alt="Logo for Get Caked Bakery")
      p Get Caked is a sweet and stylish English/American bakery offering traditional, vegan, and gluten free items with a wide variety of flavors including Red Velvet, Toffee Crisp, and Fruity Pebble.
    li.biz
      a(href="http://espadasteak.com/" target="_blank")
        .biz-img: img(src="http://espadasteak.com/img/EspadaLogo.png", alt="Logo for Lento Restaurant")
      p Running entirely on renewable solar, wind, and hydro energy, Espada is Rochester’s first Brazilian steakhouse. Offering an assortment of delectable meats as well as a hearty salad bar, Espada makes sure visitors don’t leave hungry.
    li.biz
      .more-biz
        a(href="coming-soon.html") see more...
    
    
section.quote
  .quote-img
    p "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consequuntur, suscipit repellat."
  
section.info
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4115.977635669279!2d-77.58285496084042!3d43.15837776177959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b5a27107d839%3A0x92ee09a152bbad63!2sVillage+Gate+Square!5e0!3m2!1sen!2sus!4v1457486897324", frameborder="0", style="border:0; pointer-events:none;")
  
  .hours-social
    .hours
      h3 Address:
      p
        | 274 Goodman St N
        | Rochester, NY 14607
      
      h3 Hours:
      p
        | Sun:           12:00 - 5:00
        | Tue - Sat:   11:00 - 8:00
      
    ul.social
      li
        a(href="https://www.facebook.com/pages/Village-Gate/148161025212327?fref=ts" target="_blank")
          span(class="fa-stack fa-lg")
            i(class="fa fa-circle fa-stack-2x")
            i(class="fa fa-facebook fa-stack-1x fa-inverse")
      li
        a(href="https://www.instagram.com/explore/locations/1393824/" target="_blank")
          span(class="fa-stack fa-lg")
            i(class="fa fa-circle fa-stack-2x")
            i(class="fa fa-instagram fa-stack-1x fa-inverse")
