
.home-footer
  height: 11rem
  font-size: 1.3rem

  hr
    width: 85%
    margin: 0 auto

  p
    text-align: center
    font-size: 1.2rem
    white-space: pre
    color: #A3A3A3

  .foot-nav
    ul
      display: flex
      justify-content: center
      flex-wrap: wrap
      list-style-type: none
      margin: 25px 30px 0
      padding: 0
      font-size: 1.4rem

      li
        margin: 2px 8px

      a
        text-decoration: none
        color: #B0BFC7

        &:hover
          color: #A3A3A3



  @media (min-width: 1024px)
    .foot-nav
      ul
        justify-content: flex-start
        padding: 0 0 0 15rem
