
.home-header
	display: flex
	align-items: center
	justify-content: space-around
	position: absolute
	z-index: 1
	width: 100%
	height: 90px
	background-color: rgba(43, 43, 43, 0)
	transition: all 0.2s ease-in-out

	h1
		display: none
		width: 290px
		height: 53px
		margin: 0 0 0 25px
		font-family: $font-pac
		font-weight: 500
		color: #dbdbdb

	.mobile-nav-toggle
		display: flex
		align-items: center
		width: 40px
		height: 40px
		margin: 0 20px 0 auto

		span,
		span::before,
		span::after
			content: ""
			display: block
			position: relative
			width: 40px
			height: 3px
			background: #dbdbdb
			transition: all 0.2s ease-in-out

		span::before
			top: -12px

		span::after
			top: 9px

		&:hover span
			background: transparent

		&:hover span::before
			transform: rotate(45deg)
			top: 0

		&:hover span::after
			transform: rotate(-45deg)
			top: -3px


	.wide-nav
		display: none
		width: 450px
		padding: 5px 0 0
		font-family: $font-jose
		font-weight: 600
		font-size: 2rem

		ul
			display: flex
			padding: 0

			li
				list-style-type: none
				color: #dbdbdb

				a
					text-decoration: none
					margin: 0 10px
					color: inherit


	@media (min-width: 775px)

		.mobile-nav-toggle
			display: none

		.wide-nav
			display: initial


.on-screen
	position: fixed
	background-color: rgba(43, 43, 43, 1)

	h1
		display: inherit
