
.home-header
	display: flex
	align-items: center
	justify-content: space-around
	position: absolute
	top: 0
	z-index: 3
	width: 100%
	height: 60px
	background-color: rgba(43, 43, 43, 0)
	transition: all 0.3s ease-in-out

	.nav-logo
		visibility: hidden
		width: 265px
		height: 53px
		margin: 8px 0 0 25px
		font-family: "Pacifico", cursive
		font-size: 2.6rem
		font-weight: 500
		color: $header-white

	.mobile-nav-toggle
		display: flex
		align-items: center
		width: 40px
		height: 40px
		margin: 0 20px 0 auto

		span,
		span::before,
		span::after
			content: ""
			display: block
			position: relative
			width: 3rem
			height: 3px
			background: $header-white
			transition: all 0.2s ease-in-out

		span::before
			top: -12px

		span::after
			top: 9px

		&:hover span
			background: transparent

		&:hover span::before
			transform: rotate(45deg)
			top: 0

		&:hover span::after
			transform: rotate(-45deg)
			top: -3px

	.mobile-nav
			display: absolute
			position: fixed
			top: 0
			right: 0
			width: 250px
			height: 100vh
			background-color: #39d47c
			font-family: "Josefin Sans", sans-serif
			font-size: 2.75rem
			font-weight: 600

			li
				margin: 10px auto
				list-style-type: none

				a
					text-decoration: none
					color: inherit



	.wide-nav
		display: none
		width: 500px
		font-family: "Josefin Sans", sans-serif
		font-weight: 600
		font-size: 2.2rem

		ul
			display: flex
			padding: 0

			li
				list-style-type: none
				color: $header-white

				a
					text-decoration: none
					margin: 0 1rem
					color: inherit

				&:hover a
					color: #fff


@media (min-width: 775px)
	.home-header
		height: 70px

		.mobile-nav-toggle
			display: none

		.wide-nav
			display: initial

@media (min-width: 1000px)
	.home-header
		.nav-logo
			margin-top: 0
			font-size: 3.2rem

		.wide-nav
			font-size: 2.4rem
			.nav-link
				margin: 0 1.3rem


//------ DYNAMICALLY ADDED CLASSES -------
.on-screen
	position: fixed
	background-color: rgba(43, 43, 43, 1)

	h1.nav-logo
		visibility: visible

.nav-up
	top: -90px
