
.home-main
  position: relative

  .top-img
    position: relative
    width: 100%
    height: 100vh
    opacity: 0.8
    box-shadow: 0 2px 5px rgba(0,0,0,0.8)
    background:
      image: url(../img/home-top.jpg)
      size: cover
      position: 78%
      attachment: scroll

    .logo
      position: absolute
      top: 44%
      left: 10%
      font-family: "Pacifico", cursive
      font-size: 4.5rem
      color: #eee
      text-shadow: -2px 1px 5px rgba(0, 0, 0, 0.5)
      opacity: 1
      z-index: 1

  .bottom-line
    margin: 10px 0 0 30px

  .new
    position: relative
    width: 93%
    max-width: 115rem
    margin: 5px auto 10rem
    background-color: #fff
    z-index: 2

    .new-heading
      width: 26rem
      margin: 0 auto
      padding: 8rem 0 3rem
      font-family: "Josefin Sans", sans-serif
      font-size: 2.5rem

    hr
      width: 18rem
      margin: 0 auto 45px

    .new-biz
      margin: 0
      padding: 0 20px
      list-style-type: none
      font-family: "Josefin Sans", sans-serif
      font-size: 1.6rem
      overflow: hidden

      .biz
        margin: 70px 0
        text-align: center
        opacity: 0
        transform: translateX(70px)
        transition: all 0.4s ease-in-out

        &.is-showing
          opacity: 1
          transform: translateX(0px)

        .brainery
          height: 35px

        a
          text-align: center

        img
          width: 150px

        p
          max-width: 325px
          margin: 25px auto 0
          text-align: left

  .quote-img
    position: relative
    width: 100%
    height: 40rem
    background:
      image: url(../img/wall-art-small.jpg)
      position: center
      repeat: no-repeat
      size: cover
      attachment: scroll

    p
      position: absolute
      top: 35%
      width: 27.5rem
      margin: 0 auto
      left: 0
      right: 0
      font-family: "Josefin Sans", sans-serif
      font-size: 2.5rem
      color: #fff

  .info
    width: 100%
    background: #fff

    .map
      height: 40rem
      background:
        image: url(../img/g-map.jpg)
        position: center

    .hours-social
      display: flex
      align-items: center
      justify-content: space-around
      height: 20rem
      margin: 30px 0
      font-family: Tahoma, Geneva, sans-serif
      font-size: 1.3rem

      .hours
        padding: 0 0 0 2.5rem

        h3
          margin: 15px 0 0

        p
          margin: 5px 0 10px
          white-space: pre

      .social
        display: inherit
        margin: 0 10px 0 0
        padding: 0
        list-style-type: none
        li
          margin: 0 6px

        .fa-circle
          color: #b6b6b6




  // ---------------------------------------

  @media (min-width: 600px)

    .top-img
      .logo
        left: 15%
        font-size: 6.4rem

    .new
      .new-heading
        width: 36rem
        font-size: 3.5rem

    .info
      .hours
        font-size: 115%


  @media (min-width: 775px)

    .top-img
      background:
        position: 88%

      .logo
        font-size: 8rem

    .new
      .new-biz
        font-size: 1.8rem

        .biz p
          max-width: 375px

    .info
      display: flex
      align-items: center
      justify-content: space-around
      width: 95%
      max-width: 140rem
      margin: 4rem auto

      .map
        height: 42rem
        width: 47rem
        margin: 6rem 0
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4)

      .hours-social
        height: 39.2rem
        flex-direction: column
        align-content: space-around
        .hours
          padding: 0


  @media (min-width: 1024px)

    .new
      .new-heading
        width: 47rem
        font-size: 4.5rem

      .new-biz
        display: flex
        flex-wrap: wrap

        .biz
          margin: 50px auto

          .biz-img
            display: flex
            align-items: center
            justify-content: center
            height: 112px

    .info
      .map
        width: 55rem
        height: 45rem


  @media (min-width: 1200px)

    .top-img
      background:
        attachment: fixed

      .logo
        top: 37%
        left: 20%
        font-size: 9.5rem

    .quote-img
      height: 50rem
      transition: all 0.2s cubic-bezier(0.12, 0.62, 0.43, 1)
      background:
        image: url(../img/wall-art.jpg)
        position: center 100px
        attachment: fixed

    .info
      .map
        width: 65.5rem
