
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Coming Soon!
    link(rel="stylesheet", href="css/main.css")
    
  body
    #notice
    #notice-text
      h1 Page coming soon!
      p #[a(href="./index.html") Click here] to go back.
