doctype html
html(class="no-js", lang="en")

  head
    include ./includes/head.jade
    
  body

    header.home-header
      include ./includes/header.jade

       
    main.home-main
      include ./includes/main.jade

      
    script(src="js/app.js")
