doctype html
html(class="no-js", lang="en")

head
  include ./includes/head.jade
  
body

  header.home-header
    include ./includes/header.jade

     
  main.home-main
    section.top-img
    .flan
    
//      
    section.retail  
      ul
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
        li.biz
          a(href=""): img(src="", alt="")
          p description here
          
      section.parallax
        img(src="", alt="")
    
    footer
      
    script(src="js/app.js")
