
.home-main
  position: relative

  .top-img
    position: relative
    width: 100%
    height: 100vh
    opacity: 0.8
    background:
      image: url(/../img/home-top.jpg)
      size: cover
      position: right
      attachment: fixed

  .logo
    position: absolute
    top: 15%
    left: 20%
    font-family: "Pacifico", cursive
    font-size: 5rem
    color: #eee
    text-shadow: -2px 1px 5px #000
    opacity: 1

  .bottom-line
    margin: 10px 0 0 30px

  .new
    width: 100%
    height: 1000px
    background-color: $home-red
    z-index: 3

    .new-heading
      width: 250px
      margin: 0 0 0 15%
      padding: 50px 0 30px
      font-family: "Josefin Sans", sans-serif
      color: $header-white
      text-shadow: -1px 1px 3px #000

    ul
      margin: 0
      padding: 0 30px
      list-style-type: none
      color: $header-white
      font-family: "Josefin Sans", sans-serif
      font-size: 1.8rem

      .biz
        margin: 40px 0

      p
        margin: 0


  @media (min-width: 500px)

    .logo
      font-size: 6.4rem


  @media (min-width: 775px)

    .logo
      font-size: 8rem

    .top-img
      background:
        position: center
